.NotFound__container {
    background: url('../../images/stars.svg'), #1B1B25;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.NotFound__info {
    text-align: left;
    padding-left: 250px;
}

.NotFound__info h1 {font-size: 75px;}
.NotFound__info p {font-size: 30px;}


.NotFound__img img {
    height: 600px;
    width: 600px;
}